[submodule "external/MassTransit"]
	path = external/MassTransit
	url = https://github.com/MassTransit/MassTransit.git
	ignore = dirty
[submodule "external/wolverine"]
	path = external/wolverine
	url = https://github.com/JasperFx/wolverine.git
	ignore = dirty
[submodule "external/NServiceBus.Transport.AzureServiceBus"]
	path = external/NServiceBus.Transport.AzureServiceBus
	url = https://github.com/Particular/NServiceBus.Transport.AzureServiceBus.git
	ignore = dirty
[submodule "external/azure-sdk-for-net"]
	path = external/azure-sdk-for-net
	url = https://github.com/Azure/azure-sdk-for-net.git
